<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="data:,">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" />
  <link rel="stylesheet" href="/css/style.css?v=1" />
  <link rel="stylesheet" href="/css/display.css?v=1" />
  <title>Simple Antrian</title>
</head>

<body>
  <div>
    <div style="text-align: center; display: none;" id="loading" class="mycenter">
      <div class="loading"></div>
      <h4><b>mohon tunggu sedang menyiapkan audio...</b></h4>
    </div>
    <div id="prepare" class="div-center">
      <h1>Halaman Display</h1>
      <form class="pure-form pure-form-stacked" id="form">
        <fieldset>
          <label for="display">Masukan Nama Display</label>
          <input class="w-100" type="text" id="txt_display" placeholder="Nama display" required />
          <br />
          <button type="submit" class="pure-button button-primary">Mulai</button>
          <button type="button" class="pure-button button-warning" onclick="cacheAudio()">Download Audio</button>
        </fieldset>
      </form>
    </div>
    <div style="display: none;" id="display">
      <div class="title-div" style="color: white; font-size: 2rem;">
        <span id="MyClockDisplay" class="title-text" onload="showTime()"></span>
      </div>
      <div class="pure-g">
        <div class="pure-u-17-24">
          <div style="height: calc(100vh - 60px - 20px); padding: 20px;">
            <div class="frame-1" style="height: 13vh; margin-bottom: 20px;">
              <h1 class="title-text" style="color: #a11010; font-size: 4rem;">ANTRIAN</h1>
            </div>
            <div class="frame-1" style="height: calc(100vh - 35vh - 100px); margin-bottom: 20px;">
              <h1 id="no" class="title-text" style="color: #a11010; font-size: 15rem;">-</h1>
            </div>
            <div class="frame-1" style="height: 13vh; margin-bottom: 20px;">
              <h1 class="title-text" style="color: #a11010; font-size: 4rem;">LOKET : <span id="counter">-</span></h1>
            </div>
          </div>
        </div>
        <div class="pure-u-7-24">
          <div style="height: calc(100vh - 60px - 20px); padding: 20px;" id="last">
            <div class="frame-last">
              <h4 class="text-last">LOKET - : -</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/display.js?v=1"></script>
</body>

</html>