<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="data:,">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" />
  <link rel="stylesheet" href="/css/style.css?v=1" />
  <title>Simple Antrian</title>
</head>

<body>
  <div class="div-center">
    <div id="my_create_form" style="display: none;">
      <h1 style="margin-bottom: 2px;">Simple Antrian</h1>
      <span>Buat simulasi antrian sederhana. <a href="https://github.com/herudi/simple-antrian" target="_blank">github</a></span>
      <hr />
      <form class="pure-form pure-form-stacked" id="display_form">
        <fieldset>
          <label for="display">Nama Display (buat se-unik mungkin)</label>
          <input title="Nama display tidak boleh ada spesial karakter" class="w-100" type="text" id="display"
            placeholder="Nama display" pattern="^[a-zA-Z0-9]+$" required />
          <br />
          <button type="submit" class="pure-button pure-button-primary">Create</button>
        </fieldset>
      </form>
    </div>
    <div id="my_form" style="display: none;">
      <h1 style="margin-bottom: 2px;">Simple Antrian</h1>
      <span>Buat simulasi antrian sederhana. <a href="https://github.com/herudi/simple-antrian" target="_blank">github</a></span></span>
      <hr />
      <form class="pure-form pure-form-stacked" id="form">
        <fieldset>
          <label for="display">Nomor Antrian</label>
          <input class="w-100" type="number" id="no" max="999" min="1" placeholder="Nomor antrian" required />
          <br />
          <label for="display">Counter/Loket</label>
          <input class="w-100" type="number" id="counter" max="999" min="1" placeholder="Nomor counter" required />
          <br />
          <button id="call" type="submit" class="pure-button button-primary">Panggil</button>
          <br />
          <br />
          <br />
          <br />
          <span>Info Display Antrian</span>
          <hr />
          Url Display : <a id="url_display"></a>
          <br/>
          <br/>
          Nama Display : <b id="display_name"></b>
          <br />
          <br />
          <br />
          <span>Action</span>
          <hr />
          <button type="button" class="pure-button button-error" onclick="logout()">Logout</button>
        </fieldset>
      </form>
    </div>
  </div>
  <script src="/js/home.js?v=1"></script>
</body>

</html>